</main>
<div class="ui inverted vertical footer segment" id="footer-id">
    <div class="ui container">
        &copy;Dorin Sarev, Technical University of Cluj-Napoca 2019. All Rights Reserved
    </div>
</div>
  </body>
</html>